<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><a href="https://github.com/aNerdInTheHand">aNerdInTheHand</a></title>

    <link href="../../css/main.css" rel="stylesheet">
    <link href="../../css/nufc.css" rel="stylesheet">
  </head>
  <body class="match-report">
    <p class="reports-nav"><a href="../../index.html">Home</a> / <a href="matchreports.html">Reports</a></p>

    <div class="card stat-card">
      <div class="card-block">
        <h4 class="card-title">Newcastle x-x OPPOSITION</h4>
        <h6 class="card-subtitle mb-2 text-muted">Competition - dd/mm/yy</h6>
        <p class="card-text match-summary">Sentence summary of the match.</p>
        <hr>
        <!-- MAIN REPORT -->
        <p class="match-report-text">MATCH REPORT IPSUM</p>
      </div>
    </div>

    <div class="card stat-card">
      <div class="card-block">
        <h4 class="card-title">Stats and Ratings</h4>
        <h6 class="card-subtitle mb-2 text-muted">Lies, damn lies, and...</h6>

        <!-- STATS -->
        <p class="card-text">Match Stats.</p>
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>Stat</th>
              <th>Newcastle</th>
              <th>OPPOSITION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Shots</th>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">On Target</th>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <th scope="row">Possession</th>
              <td>50</td>
              <td>50</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <p class="card-text">Player Ratings</p>
        <table class="table table-inverse">
          <thead>
            <tr>
              <th>Position</th>
              <th>Player</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">GK</th>
              <td>Elliot</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">LB</th>
              <td>Dummett</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">RB</th>
              <td>Manquillo</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">CB</th>
              <td>Clark</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">CB</th>
              <td>Lascelles</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">CM</th>
              <td>Hayden</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">CM</th>
              <td>Shelvey</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">CAM</th>
              <td>Perez</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">LW</th>
              <td>Atsu</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">RW</th>
              <td>Ritchie</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr>
              <th scope="row">CF</th>
              <td>Joselu</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">6</td>
            </tr>
            <tr class="rating-sub">
              <th scope="row">Sub (Player, 0)</th>
              <td>Player</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">N/A</td>
            </tr>
            <tr class="rating-sub">
              <th scope="row">Sub (Player, 0)</th>
              <td>Player</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">N/A</td>
            </tr>
            <tr class="rating-sub">
              <th scope="row">Sub (Player, 0)</th>
              <td>Player</td>
              <td data-toggle="tooltip" data-placement="top" title="Not on long enough for a rating">N/A</td>
            </tr>
          </tbody>
        </table>
      </div
      <p class="card-text">Nick, dd/mm/yy</p>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </body>
</html>
